[depends]

main = base/main

[groups]

sip4d_base_style =

    base.css

sip4ddataset_map =

    js/vendor/leaflet/leaflet.js
    js/vendor/leaflet.draw/leaflet.draw.js
    js/common_map.js
    js/sip4d_dataset_range_map.js

    js/vendor/leaflet/leaflet.css
    js/vendor/leaflet.draw/leaflet.draw.css
    css/sip4d_dataset_range_map.css

sip4ddaterange_query =

    js/vendor/daterangepicker/daterangepicker.css
    js/vendor/daterangepicker/moment.js
    js/vendor/daterangepicker/daterangepicker.js
    js/vendor/daterangepicker/sip4d_daterange_query.js

sip4ddaterange_search =

    js/vendor/daterangepicker/daterangepicker.css
    js/vendor/daterangepicker/moment.js
    js/vendor/daterangepicker/daterangepicker.js
    js/vendor/daterangepicker/sip4d_daterange_search.js

sip4d_datetime_picker =

    js/vendor/daterangepicker/daterangepicker.css
    js/vendor/daterangepicker/moment.js
    js/vendor/daterangepicker/daterangepicker.js
    js/vendor/daterangepicker/datetime_picker.js

sip4d_search_word_query =

    js/sip4d_search_word_query.js
