/* Harvest styles */

.page-header {
    display: none;
}

.sip4d-searchform-div {
    width: 96%;
    position: relative;
    text-align: right;
}
.form-actions {
    margin-top : 0px;
}

.sip4ddataset-table-check {
    width: 15px;
    text-align: center;
}

.sip4ddataset-table-check-header {
    background-color: #aaaaaa;
    width: 28px;
    text-align: center;
}

.sip4ddataset-label-header {
    background-color: #aaaaaa;
    border-collapse: separate;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(68, 68, 68);
    border-top-style: none;
    border-top-width: 0px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    text-align: left;
    vertical-align: bottom;
}

.sip4ddataset-details-header {
    background-color: #aaaaaa;
    border-collapse: separate;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-spacing: 0px 0px;
    border-top-color: rgb(68, 68, 68);
    border-top-style: none;
    border-top-width: 0px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    overflow-wrap: break-word;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    text-align: left;
    vertical-align: bottom;
}

.sip4ddataset-details {
    background-color: #f2f2f2;
}

.disaster-update-td {
    text-align-last: right;
}
.disaster-update-text {
    width: 300px;
    vertical-align: top;
    text-align-last: left;
    margin: 5px;
}

.disaster-update-button {
    width: 225px;
    vertical-align: top;
    text-align-last: center;
    margin: 5px;
}

.page-limit-div {
    text-align: right;
    padding-right: 10px;
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("../img/loading.gif") center center no-repeat;
}

body.index.ViewController #minornavigation {
    display: none;
}

body.index.ViewController #content {
    width: 100% !important;
    border: 0 !important;
}

body.index.ViewController .content-outer {
    width: 100% !important;
}

#harvest-sources{
    width: 100%;
}

#new-harvest-source {
	background: transparent url("images/icons/source_new.png") no-repeat 0px 0px;
  margin-top: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

#show-inactive-sources-content{
    float: right;
    width: 170px;
}

#show-inactive-sources-content input{
    float: left;
}

#show-inactive-sources-content label{
    float: left;
    font-weight: normal;
    margin-right: 5px;
}

#harvest-sources th.action{
    font-style: italic;
    width: 50px;
    text-align: middle;
}

#harvest-sources th.url{
    width: 200px;
}

#harvest-sources td.action{
    text-align: middle;
}

#harvest-sources .inactive{
    display:none;
}

#harvest-sources .inactive .state{
    color: red;
}

.harvester-title{
    font-weight: bold;
}

.source-state-active{
    font-weight:bold;
}

.source-state-inactive{
    font-weight:bold;
    color: red;
}

#harvest-source-actions {
  margin: 20px 0;
}

#harvest-source-actions img{
    vertical-align: middle;
    margin: 0 5px;
}

#harvest-sources .publisher > td{
    background-color: #E3E3E3 !important;
    padding: 3px;
    font-weight: bold;
}

#harvest-source-details th {
  width: 33%;
}

#source-new {
  margin-top: 30px;
}
