{% ckan_extends %}

{%- block styles %}
  {{ super() }}
<!--  <link rel="stylesheet" href="/sip4d_base.css" />-->
  {% asset 'ckanext-sip4d/sip4d_base_style' %}
{% endblock -%}

{%- block page -%}

  {% block skip %}
    <div class="sr-only sr-only-focusable"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %}

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}

    {# ログインしていないとコンテンツが表示されないようにする もしくは　ログインページを表示する or (c.controller=="user" and c.action=="login") #}
    {% if h.is_sip4d_guests_ban() or h.is_sip4d_user_page() %}
      {{ super() }}
    {% else %}
      {# 非ログイン時 #}
      <div class="index-main-search">
        <div class="container" >
          <div class="row" >
            <h1 style="text-align:center; background-color:#ffffff">{{ _('Please login') }}</h1>
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer.html" %}
<!--    {% asset 'ckanext-sip4d/sip4d_base_style' %}-->
  {% endblock -%}
{%- endblock -%}

{%- block scripts %}
  {{ super() }}
{% endblock -%}
