<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}This site refers to organizations in CKAN as data folders. A data folder is used to create, manage, and publish a set of data sets. Users can have different roles in a data folder depending on their permission levels for creating, editing, and publishing.{% endtrans %}
    </p>
  </div>
</div>
